<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="kata">
            <directory suffix="Test.php">src/__tests__</directory>
        </testsuite>
    </testsuites>
</phpunit>
